<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/background.css" />
  </head>
  <body>
    <div class="background__container">
      <div class="background__logo">
        <img
          src="/assets/imgs/logo.svg"
          alt="Logo"
          class="background__logo-img"
        />
        <span class="background__logo-name">SGM</span>
      </div>
      <span class="background__description"
        >Hệ thống quản lý điểm học sinh</span
      >
      <img
        src="/assets/imgs/background.svg"
        alt="Picture"
        class="background__img"
      />
    </div>
  </body>
</html>
