<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/header.css" />
  </head>

  <body>
    <header class="header__container">
      <a href="#" class="header__logo">
        <img src="/assets/imgs/logo.svg" alt="Logo" class="logo__img" />
        <span class="logo__name">SGM</span>
      </a>
      <div class="header__user">
        <img src="/assets/imgs/user.svg" alt="User" class="user__img" />
      </div>
    </header>
  </body>
</html>
