<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../students/list.php">Danh sách học sinh</a></li>
        <li><a href="../classes/list.php">Danh sách lớp học</a></li>
        <li><a href="../subjects/list.php">Danh sách môn học</a></li>
        <li><a href="../grade/list.php">Quản lý điểm</a></li>
      </ul>
    </nav>
  </body>
</html>
