<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/navbar.css" />
  </head>

  <body>
    <nav class="navbar__container">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link" href="/views/students/list.php">
            Danh sách học sinh
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/views/classes/list.php">
            Danh sách lớp học
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/views/subjects/list.php">
            Danh sách môn học
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/views/teachers/list.php">
            Danh sách giáo viên
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/views/grades/list.php"
            >Quản lý điểm
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/views/statistic/list.php">Thống kê</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
