.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  user-select: none;
}

.home__logo {
  display: flex;
  align-items: center;
}

.home__logo-img {
  width: 120px;
  margin-right: 16px;
}
.home__logo-name {
  font-size: 72px;
  font-weight: 700;
  color: var(--primary-color);
}
.home__description {
  font-size: 24px;
  color: var(--primary-color);
}
